NODE_ENV=development
WMT_HOST=127.0.0.1
WMT_PORT=3000
WMT_DATA_DIR=./private
WMT_DATABASE_PATH=./private/clinic.sqlite
WMT_COOKIE_SECURE=false
WMT_BOOTSTRAP_ADMIN_USERNAME=
WMT_BOOTSTRAP_ADMIN_PASSWORD=
WMT_BACKUP_PASSPHRASE=
HOANBOY_DEVICE_IP=
